
@font-face {
   font-family: Sail-Regular;
   src: url(fonts/Sail-Regular.otf);
}

@font-face {
   font-family: Montserrat-UltraLight;
   src: url(fonts/Montserrat-UltraLight.otf);
}

@font-face {
   font-family: Raleway-Bold;
   src: url(fonts/Raleway-Bold.ttf);
}

@font-face {
   font-family: Raleway-ExtraBold;
   src: url(fonts/Raleway-ExtraBold.ttf);
}

@font-face {
   font-family: Capture_it_2;
   src: url(fonts/Capture_it_2.ttf);
}

@font-face {
   font-family: Raleway-SemiBold;
   src: url(fonts/Raleway-SemiBold.ttf);
}

@font-face {
   font-family: Quicksand_Dash;
   src: url(fonts/Quicksand_Dash.otf);
}

@font-face {
   font-family: Lato-Hairline;
   src: url(fonts/Lato-Hairline.ttf);
}

@font-face {
   font-family: LobsterTwo-Regular;
   src: url(fonts/LobsterTwo-Regular.otf);
}

@font-face {
   font-family: Lato-Regular;
   src: url(fonts/Lato-Regular.ttf);
}

@font-face {
   font-family: Raleway-Thin;
   src: url(fonts/Raleway-Thin.ttf);
}

@font-face {
   font-family: Lato-Black;
   src: url(fonts/Lato-Black.ttf);
}

@font-face {
   font-family: Raleway-Medium;
   src: url(fonts/Raleway-Medium.ttf);
}

@font-face {
   font-family: Sansation-Italic;
   src: url(fonts/Sansation-Italic.ttf);
}

@font-face {
   font-family: Montserrat-Light;
   src: url(fonts/Montserrat-Light.otf);
}

@font-face {
   font-family: Capture_it;
   src: url(fonts/Capture_it.ttf);
}

@font-face {
   font-family: Raleway-Regular;
   src: url(fonts/Raleway-Regular.ttf);
}

@font-face {
   font-family: Quicksand-Bold;
   src: url(fonts/Quicksand-Bold.otf);
}

@font-face {
   font-family: Sansation-Regular;
   src: url(fonts/Sansation-Regular.ttf);
}

@font-face {
   font-family: Montserrat-Bold;
   src: url(fonts/Montserrat-Bold.otf);
}

@font-face {
   font-family: Quicksand-BoldItalic;
   src: url(fonts/Quicksand-BoldItalic.otf);
}
